# 3 - Location to Geopoints and Near Geoqueries

## Libraries

In [1]:
import pandas as pd
from bson.json_util import dumps
import shapely
import geopandas as gdp
# import json
from pymongo import MongoClient
from pymongo import GEOSPHERE

import sys
sys.path.append('../')
import src.pointype_queries_functions as ptf


import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import API queries from each city

san_francisco_usa = pd.read_csv("../data/API_queries/san_francisco_usa.csv")
new_york_usa = pd.read_csv("../data/API_queries/new_york_usa.csv")

### Change coodinates to point type

In [3]:
gdf_san_francisco_usa = ptf.typePoint(san_francisco_usa)

In [4]:
gdf_san_francisco_usa.head(2)

,name,lat,long,category,geometry
0,Bright Horizons at Spear Street,37.790787,-122.392536,Daycare,"{'type': 'Point', 'coordinates': (-122.3925358..."
1,St. Mary's International Preschool,37.795976,-122.404742,Preschool,"{'type': 'Point', 'coordinates': (-122.404742,..."

In [5]:
gdf_new_york_usa = ptf.typePoint(new_york_usa)

In [6]:
gdf_new_york_usa.head(2)

,name,lat,long,category,geometry
0,Williamsburg Northside Preschool,40.716570,-73.958664,Preschool,"{'type': 'Point', 'coordinates': (-73.95866428..."
1,Smiling Faces Christian Day Care,40.693304,-73.970705,Preschool,"{'type': 'Point', 'coordinates': (-73.970705, ..."

### Gets queries, distances from venues to our location and creates city collections in our Mongo Database

#### San Francisco: 160 Spear St

In [7]:
lon, lat = -122.39312, 37.79179
max_distance = 6000
collection = "san_francisco"
mongo_database = "cities_research"

In [8]:
gdf_san_francisco_usa2 = ptf.nearQueries(gdf_san_francisco_usa, mongo_database, collection, lon, lat, max_distance)

This collection is new -> Collection Created

In [9]:
# count results from query
ptf.countQueryDocs("san_francisco","cities_research")

147 results in san_francisco

In [10]:
# Creates dataframe
df_san_francisco_usa = pd.DataFrame(gdf_san_francisco_usa2)
df_san_francisco_usa.head(2)

,_id,name,lat,long,category,geometry,distance
0,6135fecc0c5109129a29ad63,Bright Horizons at Spear Street,37.790787,-122.392536,Daycare,"{'type': 'Point', 'coordinates': [-122.3925358...",0.122825
1,6135fecc0c5109129a29ad81,Millennium Tower Club Level,37.790882,-122.396038,Club House,"{'type': 'Point', 'coordinates': [-122.3960379...",0.275584

#### New York: 3 Park Avenue

In [11]:
lon, lat = -73.98037, 40.69651
max_distance = 6000
collection = "new_york"
mongo_database = "cities_research"

In [12]:
gdf_new_york_usa2 = ptf.nearQueries(gdf_new_york_usa, mongo_database, collection, lon, lat, max_distance)

This collection is new -> Collection Created

In [15]:
ptf.countQueryDocs(collection, mongo_database)

200 results in new_york

In [16]:
# Creates dataframe

df_new_york_usa = pd.DataFrame(gdf_new_york_usa2)
df_new_york_usa.head(2)

,_id,name,lat,long,category,geometry,distance
0,6135fed00c5109129a29ae81,NY Penn Station baggage claim,40.702812,-73.983867,Baggage Claim,"{'type': 'Point', 'coordinates': [-73.98386667...",0.760208
1,6135fed00c5109129a29adff,Petits Poussins Brooklyn,40.689946,-73.985047,Preschool,"{'type': 'Point', 'coordinates': [-73.98504659...",0.829610

### Export to csv

In [17]:
df_san_francisco_usa.to_csv("../data/Near_geoqueries/near_san_francisco.csv", index = False)

In [18]:
df_new_york_usa.to_csv("../data/Near_geoqueries/near_new_york.csv", index = False)